<div class="form-check d-flex align-item">
    <input class="form-check-input me-2 mb-2" type="checkbox" name="{{checkboxName}}" value="{{checkboxValue}}" id="{{checkboxId}}">
    <label class="form-check-label" for="{{checkboxId}}">
        {{checkboxLabel}}
    </label>
</div>