{{#if required}}
{{!-- INPUT IS REQUIRED --}}
    <div class="mb-3 row">
        <label for={{id}} class="form-label col-4">{{label}}</label>
        <input type="text" class="form-control col" id={{id}} name={{id}} required>
    </div>

{{!-- INPUT IS NOT REQUIRED --}}
    {{else}}
        <div class="mb-3 row">
            <label for={{id}} class="form-label col-4">{{label}}</label>
            <input type="text" class="form-control col" id={{id}} name={{id}}>
        </div>
{{/if}}