<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guidance | AquiRe Systems</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    {{> Favicon}} 

    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>

<body style="margin-bottom: 20vh;">

    {{#if message}}
        {{> Message message=message}}
    {{/if}}
    
    {{> Navbar userRole='Guidance'}}
    
    <div class="container-fluid">
        <div class="row mx-5">
            <aside class="aside col-2">
                <p class="fw-bold fs-4 mb-0">Enrolled Students</p>
                <p>SY 2023 - 2024</p>
                <ul class="sidebar-links nav flex-column">
                    {{> SidebarLinks grade="Kinder" href="#"}}
                    {{> SidebarLinks grade="Senior Kinder" href="#"}}
                    {{> SidebarLinks grade="Grade 1" href="#"}}
                    {{> SidebarLinks grade="Grade 2" href="#"}}
                    {{> SidebarLinks grade="Grade 3" href="#"}}
                    {{> SidebarLinks grade="Grade 4" href="#"}}
                    {{> SidebarLinks grade="Grade 5" href="#"}}
                    {{> SidebarLinks grade="Grade 6" href="#"}}
                    {{> SidebarLinks grade="Grade 7" href="#"}}
                    {{> SidebarLinks grade="Grade 8" href="#"}}
                    {{> SidebarLinks grade="Grade 9" href="#"}}
                    {{> SidebarLinks grade="Grade 10" href="#"}}
                    {{> SidebarLinks grade="Grade 11" href="#"}}
                    {{> SidebarLinks grade="Grade 12" href="#"}}
                </ul>
            </aside>

            <section class="flex-column col-6 p-0 mx-5">
                <form class="form input-group-custom" role="search">
                    <div class="row mx-half mb-4">
                        <div class="col-11 px-0">
                            <input class="form-control rounded-0 border" type="search" placeholder="Search"
                                aria-label="Search by ID or Last Name, First Name...">
                        </div>
                        <div class="col px-0">
                            <button class="form-button-add text-center rounded-0 border w-100 display-block" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <form id="add-student-form" role="form" method="POST" action="/guidance/records" class="input-group-custom mb-2">
                    <div class="row mx-half mb-0">
                        <div class="col-12 px-0">
                            <div class="row mx-half mb-0 h-100">
                                <div class="col-5 border px-0">
                                    <input required name="student_id" type="text" id="studentId"
                                        class="form-control rounded-0 border border-white" placeholder="Student ID" />
                                </div>
                                <div class="col-3 px-0">
                                    <div class="dropdown-custom student-form btn-group col-12 px-0 h-100">
                                        <button class="checkbox-dropdown btn dropdown-toggle rounded-0 border border-white"
                                            type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu col-12 rounded-0">
                                            {{> CheckboxFormGroup checkboxName="recordTypes[]" checkboxValue="MC" checkboxId="checkboxMC" checkboxLabel="Medical Certificate"}}
                                            {{> CheckboxFormGroup checkboxName="recordTypes[]" checkboxValue="SRF" checkboxId="checkboxSRF" checkboxLabel="Scholastic Record Form"}}
                                            {{> CheckboxFormGroup checkboxName="recordTypes[]" checkboxValue="IS" checkboxId="checkboxIS" checkboxLabel="Information Sheet"}}
                                            {{> CheckboxFormGroup checkboxName="recordTypes[]" checkboxValue="BEF" checkboxId="checkboxBEF" checkboxLabel="Basic Education Form"}}
                                            {{> CheckboxFormGroup checkboxName="recordTypes[]" checkboxValue="SHSF" checkboxId="checkboxSHSF" checkboxLabel="Senior High School Form"}}
                                            {{> CheckboxFormGroup checkboxName="recordTypes[]" checkboxValue="RF" checkboxId="checkboxRF" checkboxLabel="Recommendation Form"}}                       
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 px-0 text-center">
                                    <button id="add_admission_record" type="submit" class="form-button-add text-center rounded-0 border w-100">
                                        <span>Add Admission Record</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

                
                <form id="cummilative-anectodal-form" class="input-group-custom" action="/guidance/anecdotal">
                    <div class="row mx-half">
                        <div class="col-8 px-0">
                            <input required name="student_id" type="text" id="studentId-cummilative-anecdotal"
                                class="form-control rounded-0 border border-white" placeholder="Student ID" />  
                        </div>

                        <div class="col-4 px-0 m-button">
                            <div class="form-button-add text-center rounded-0 border border-white" role="button" tabindex="0">
                                <label for="add_anecdotal_record">Add Anecdotal Record</label>
                                <input class="add-button" type="submit" value="" id="add_anecdotal_record"/>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="container-fluid">
                    <div class="row mt-3 table-header">
                        <div class="col-10 px-0">
                            <div class="row mx-half mb-0 h-100 fw-bold">
                                <div class="col-6 border border-white p-2">
                                    <span>Student</span>
                                </div>
                                <div class="col-6 border border-white p-2">
                                    <span>Record</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 border border-white p-2">
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="data-table container-fluid">
                    {{#each studentRecords}}
                        <div class="row list-div">
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-2 border border-white p-2">
                                        <span>{{@key}}</span>
                                    </div>

                                    <div class="col-4 border border-white p-2">
                                        <span>{{lastName}}, {{firstName}}</span>
                                    </div>

                                    <div class="col-6 border border-white p-2">
                                    {{#each has}}
                                        <p class="mb-0">{{this}}</p>
                                    {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </section>
        </div>
    </div>

    {{#if viewAnecdotal}}

        <div class="modal fade show" id="modal_anecdotal" tabindex="-1" aria-labelledby="modal_anecdotal_title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <!-- Modal content goes here -->
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal_anecdotal_title">Add Anecdotal Record</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            
                <div class="modal-body">
                    <form class="input-group-custom" id="anecdotal-form" method="POST" action="/guidance/anecdotal">
                    <input type="hidden" name="student_id" id="studentIdField" value="{{studentId}}">
                    <input type="hidden" name="date" id="dateField">

                    <div class = "new-form p-4">
                        
                        <h4>NEW FORM</h4>

                        <div class="form-row-ar mt-4 mb-4">

                            
                            <div class="form-group-ar mt-4 mb-4">
                                <label for="date">Date:</label>
                                <input required type="date" id="anecdotalDate" name="date">
                            </div>


                            <div class="form-group-ar mt-4 mb-4">
                                <textarea required class="form-control" id="anecdotalRecord" name = "anecdotalRecord" placeholder="Add text here" rows="6"></textarea>
                            </div>  

                        </div>
                    
                    </div>

                    <div class="view-form p-4 mt-4">
                        <h4>VIEW FORM</h4>
                        
                        {{#if emptyAnecdotalRecords}}
                            <p>No anecdotal records yet.</p>
                        {{else}}
                            {{#each anecdotalRecords}}
                                {{> AnecdotalRecord this}}
                            {{/each}}
                        {{/if}}
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-yellow">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </form>
            </div>
        </div>

        <script defer>
            const element = document.getElementById('modal_anecdotal');
            const modal = new bootstrap.Modal(element);
            modal.show()
        </script>
    {{/if}}


    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <!-- Modal content goes here -->
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalScrollableTitle">Edit Cummulative Record</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
         
            <div class="modal-body">
                <form id="cummulative-form" method="POST" action="/guidance/cummulative">
                <input type="hidden" name="student_id" id="studentIdField">
                <div class = "school-history">
                 <p>III. SCHOOL HISTORY</p>
                        <div class="form-row-cr">
                            <div class="form-group-cr">
                                <label for="enteredFrom">Entered from:</label>
                                <input class= "SH" type="text" id="enteredFrom" name="enteredFrom"  value="" required>
                            </div>
                            
                            <div class="form-group-cr">
                                <label for="admittedInSchoolYear">Admitted in Aquinas School SY:</label>
                                <input class= "SH" type="text" id="schoolYearAdmitted" name="schoolYearAdmitted" value="" required>
                            </div>
                        </div>
                        
                        <div class="form-group-cr">
                            <label for="gradeLevelEntered">Grade Level Entered:</label>
                            <input  class= "SH" type="text" id="gradeLevelEntered" name="gradeLevelEntered" value="" required>
                        </div>
                                                
                        <div class="form-group-cr">
                            <label for="otherSchoolAttended">Other School Attended:</label>
                            <input  class= "SH long"type="text" id="otherSchoolsAttended" name="otherSchoolsAttended" value="" required>
                        </div>
                        <!--                        
                        <div class="form-group-cr">
                            <label for="Name">(Name of School, Grade Level and SY)</label>
                            <input class= "SH long"type="text" id="etc" name="Name" required>
                        </div>
                        -->
                </div>






                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <p>This content should appear at the bottom after you scroll.</p>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary btn-yellow">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </form>
        </div>
    </div>


        <!-- Include Bootstrap JS (optional, for dropdown menus) -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/84cb3b7f2b.js" crossorigin="anonymous"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var timeout = null;

                document.getElementById('studentId').addEventListener('keyup', function () {
                    clearTimeout(timeout);
                    timeout = setTimeout(function() {
                        var textvalue = document.getElementById('studentId').value;
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/guidance', true);
                        xhr.setRequestHeader('Content-Type', 'application/json');
                        xhr.onload = function() {
                            if(xhr.status === 200) {
                                if (xhr.status === 200) {
                                    var response = JSON.parse(xhr.responseText);
                                    var recordIds = response.recordIds;

                                    // Update checkboxes
                                    var checkboxes = document.querySelectorAll('[name="recordTypes[]"]');
                                    checkboxes.forEach(function(checkbox) {
                                        if (recordIds.includes(checkbox.value)) {
                                            checkbox.checked = true;
                                            checkbox.classList.add('greyed-out');
                                        } else {
                                            checkbox.checked = false;
                                            checkbox.classList.remove('greyed-out');
                                        }
                                    });
                                }
                            }
                        };
                        xhr.onerror = function() {
                            console.error('Request Error...');
                        };
                        xhr.send(JSON.stringify({textData: textvalue}));
                    }, 500);
                });
            });
        </script>
</body>

</html>